<!DOCTYPE HTML>

<html>
<head>
    <title>Spring Boot - AJAX POST GET Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">

    <h2></h2>

    <div>
        <button id="getMessage" type="button" class="btn btn-outline-primary">Get Message</button>
    </div>

</div>
<script>
    $(document).ready(function() {
        // GET REQUEST
        $("#getMessage").click(function (event) {
            event.preventDefault();
            ajaxGet();
        });

        // DO GET
        function ajaxGet() {
            $.ajax({
                type : "GET",
                url : window.location + "getMessageOfTheDay",
                success : function (result) {
                    if (result.status == "Done") {
                        console.log("Success: ", result);
                        $('h2').text(result.data);
                    } else {
                        console.log("Fail: ", result);
                    }
                },
                error : function (e) {
                    console.log("ERROR: ", e);
                }
            });
        }
    })
</script>
</body>
</html>